dist-newstyle/
dist/
*.hi
*.o
*.dyn_hi
*.dyn_o
.ghc.environment.*
cabal.project.local
cabal.project.local~
.HTF/
.hpc/
.env
dumps/
.mydocs/
.github/
.vscode/
.cursorrules
.cursor/
notes/
user-workspace/